@charset "utf-8";
/* CSS Document */

#login_form input{font-size:16px; padding:2px 5px;}
#login_form input[type="submit"]{padding-left:60px; padding-right:60px; margin-top:20px;}
#login_form input[type="text"], input[type="password"]{border-top:none; border-right:none; border-left:none; border-bottom:1px solid #9A9; width:100%;}
#login_form table{width:100%; user-select:none;}
#login_div{width:400px; margin:auto;}
#forget_pass{text-decoration:none; color:#666; display:inline-block; transition:all 250ms; border:none; padding:5px 20px;}
#forget_pass:hover{color:#33F; text-shadow:1px 2px 5px #339; background-color:#FFF;}